<header class="main">

  {% include logo.html %}

  <h1 class="site-title">
    <span class="site-title-first">Club<br class="break" /><span class="site-title-second">House</span></span>
    <span class="site-title-third">Creative</span>
  </h1>

  <div class="main-intro">
    <p>Clubhouse Creative is a part-time gig. The majority of us at Clubhouse have full time design jobs and we use this as an outlet for creativity, to have fun, and most importantly to work with like-minded people who are driven and passionate about what they do &emdash; just like us.</p>
  </div>

  <nav class="main-menu">
    <ul>
      <li class="main-menu--link"><a href="/" title="{{ site.title }}">{{ site.title }}</a></li>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      <li class="main-menu--link"><a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>

</header>